.input {
  align-self: center;
  background: none;
  block-size: 1.875em;
  border: 0;
  border-block-end: 0.15rem dashed var(--info);
  box-sizing: content-box;
  color: var(--default);
  display: flex;
  font-family: var(--font-family-script);
  font-size: 1.25rem;
  inline-size: 2rem;
  line-height: 1;
  margin: 0 var(--spacer);
  min-inline-size: 2ch;
  position: relative;
  text-align: center;
  text-indent: 0.5em;
}

.inputAutosize {
  field-sizing: content;
  inline-size: auto;
}

/* $--info--light: lighten(var(--info, 40%); */

.input::placeholder {
  color: var(--info-light);
  opacity: 0.5;
}

.input:placeholder-shown {
  border-color: var(--info-light);
}

.input:focus,
.input:focus-within {
  border-block-end-color: var(--primary);
  outline: none;
}

.input input {
  background: none;
  border: 0;
  padding: 0 0.25em;
}

.input input:invalid {
  box-shadow: none;
  outline: none;
}

.input input:focus {
  outline: none;
}
