@import '../../theme/variables';

.input {
  display: flex;
  position: relative;
  height: 2em;
  width: 1.5em;
  margin: 0 spacer(1);
  padding: 0 0.25em;
  background: none;
  color: $info;
  font-size: 2em;
  text-align: center;
  border: 0;
  border-bottom: 0.15rem dashed $info;
  line-height: 1;
  font-family: $font-family-script;
  align-self: center;

  &Autosize {
    width: auto;
  }

  &:focus,
  &:focus-within {
    outline: none;
    border-bottom-color: $primary;
  }

  input {
    display: block;
    padding: 0 0.25em;
    background: none;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  $info--light: lighten($info, 40%);

  &::-webkit-input-placeholder {
    color: $info--light;
  }

  &::-moz-placeholder {
    color: $info--light;
  }

  &:-ms-input-placeholder {
    color: $info--light;
  }

  &:-moz-placeholder {
    color: $info--light;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
