@import '../../theme/variables';

.input {
  display: flex;
  position: relative;
  box-sizing: content-box;
  height: 1.875em;
  width: 2rem;
  min-width: 2ch;
  margin: 0 spacer(1);
  background: none;
  color: $info;
  font-size: 1.25rem;
  text-align: center;
  border: 0;
  border-bottom: 0.15rem dashed $info;
  line-height: 1;
  font-family: $font-family-script;
  align-self: center;
  text-indent: 0.5em;

  &Autosize {
    width: auto;
  }

  &:focus,
  &:focus-within {
    outline: none;
    border-bottom-color: $primary;
  }

  input {
    padding: 0 0.25em;
    background: none;
    border: 0;

    $info--light: lighten($info, 40%);

    &::-webkit-input-placeholder {
      color: $info--light;
    }

    &::-moz-placeholder {
      color: $info--light;
    }

    &:-ms-input-placeholder {
      color: $info--light;
    }

    &:-moz-placeholder {
      color: $info--light;
    }

    &:invalid {
      box-shadow: none;
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}
