@import '../../theme/variables';

.input {
  background: none;
  font-size: 1.25em;
  width: 1.5em;
  border: 0;
  color: $info;
  border-bottom: .15rem dashed $info;
  text-align: center;
  line-height: .5;
  font-family: $font-family-script; 
  
  &Autosize {
    width: auto;
  }
  
  input {
    border: 0;
    text-align: inherit;
    
    &:focus {
      outline: none;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  appearance: none; 
  margin: 0; 
}

input[type='number'] {
  -moz-appearance:textfield;
}