@import url('../../theme/variables');

.buttongroup {
  display: flex;
  flex: 0 1 auto;
  font-size: 0.875rem;
  font-weight: 700;
  width: auto;

  label {
    // color: transparentize(var(--info, 0.55);
    cursor: pointer;
    display: block;
    flex: 0 1 auto;
    padding: 0.5em;
    text-align: center;
  }

  input {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }

  input:checked + label {
    color: var(--black);
  }

  .icon {
    display: block;
    font-size: 1.75em;
    margin: 0.5em auto;
  }
}

.unit {
  display: block;
  margin-bottom: var(--spacer-0-5);

  .plural &::after {
    content: 's';
  }
}

.conversion {
  display: block;
  font-size: 0.625rem;
  margin-top: 0.5em;

  &::before {
    content: '{';
    margin-right: 0.1em;
  }

  &::after {
    content: '}';
    margin-left: 0.1em;
  }
}
