@import '../../theme/variables';

.buttongroup {
  display: flex;
  width: auto;
  font-size: 0.875rem;
  font-weight: 700;
  flex: 0 1 auto;

  label {
    display: block;
    padding: 0.5em;
    color: transparentize($info, 0.55);
    text-align: center;
    flex: 0 1 auto;
  }

  input {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
  }

  input:checked + label {
    color: $black;
  }

  .icon {
    display: block;
    margin: 0.5em auto;
    font-size: 1.75em;
  }
}

.unit {
  display: block;
  margin-bottom: spacer(0.5);

  .plural &::after {
    content: 's';
  }
}

.conversion {
  display: block;
  margin-top: 0.5em;

  &::before {
    content: '{';
    margin-right: 0.1em;
  }

  &::after {
    content: '}';
    margin-left: 0.1em;
  }
}
