@import url('../../theme/variables');

.button {
  background: none;
  border: var(--border-match-color);
  border-radius: var(--border-radius);
  color: var(--default);
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  max-width: 20rem;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    border-color: var(--primary);
    font-weight: 700;
    outline: none;
  }

  &:hover {
    background: var(--primary);
  }
}

.disabled {
  opacity: 0.4;
}
