@import url('../../theme/variables');

.button {
  background: none;
  border: $border-match-color;
  border-radius: $border-radius;
  color: $default;
  display: inline-block;
  font-family: $font-family-sans;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  max-width: 20rem;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    border-color: $primary;
    font-weight: 700;
    outline: none;
  }

  &:hover {
    background: $primary;
  }
}

.disabled {
  opacity: 0.4;
}
