.amount {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-block-end: var(--spacer-2);
}

.amount:first-of-type {
  margin-block-end: var(--spacer);
}

.amountLabel {
  display: block;
  flex: 0 0 auto;
  inline-size: max-content;
  margin: 0;
}
