@import "../../theme/variables";

.amount {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: spacer(2);

  &:first-of-type {
    margin-bottom: spacer(1);
  }

  @include respond-to(large) {
    justify-content: flex-start;
  }

  &Label {
    flex: 0 0 auto;
    width: max-content;
  }
}
