@import '../../theme/variables';

.picker {
  justify-content: space-around;
  max-width: $large-width;
  margin: spacer(3) auto;

  @include respond-to(large) {
    display: flex;
  }

  &Item {
    display: block;
    margin-bottom: spacer(3);
    color: $default;
    text-align: center;
    text-decoration: none;
    flex: 0 0 30ch;

    h2 {
      font-size: 2em;
    }
  }
}
