@import '../../theme/variables';

.inputgroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: spacer(2);

  @include respond-to(large) {
    justify-content: flex-start;
  }
}
