$spacer-unit: 1rem;

@import 'functions';

$primary: #f6921e;
$default: #3e2508;
$info: #6a664c;
$black: #1f1304;
$white: #fff1e2;

// Typography
$font-family-serif: lora, georgia, times, serif;
$font-family-sans: raleway, -apple-system, blinkmacsystemfont, 'Roboto',
  'Segoe UI', 'Helvetica Neue', 'Lucida Grande', helvetica, arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-script: homemade apple, -apple-system, blinkmacsystemfont, 'Roboto',
  'Segoe UI', 'Helvetica Neue', 'Lucida Grande', helvetica, arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Sizes
$large-width: 58rem;
$ex-large-width: 70rem;
$footer-size: 6em;

//Card Borders
$border-width: 0.0625rem;
$border-match-color: $border-width solid currentColor;

@import 'mixins';
