@import url('../../theme/variables');

.picker {
  justify-content: space-around;
  margin: spacer(4) auto;
  max-width: $large-width;

  @include respond-to(large) {
    display: flex;
  }

  &Item {
    color: $default;
    display: block;
    flex: 0 0 auto;
    font-size: 0.875rem;
    margin-bottom: spacer(6);
    text-align: center;
    text-decoration: none;

    h2 {
      font-size: 2em;
      margin-bottom: spacer(0.5);
    }

    p {
      line-height: 1.5;
      margin: 0 auto spacer(2);
      max-width: 35ch;
    }
  }
}

.tagline {
  color: $info;
  font-family: $font-family-sans;
  font-size: 0.875rem;
  margin-bottom: spacer(1);
}

.button {
  color: $default;
  padding: spacer(0.5) spacer;
  text-decoration: none;
}
