.picker {
  justify-content: space-around;
  margin: var(--spacer-4) auto;
  max-inline-size: var(--large-width);
}

.pickerItem {
  color: var(--default);
  display: block;
  flex: 0 0 auto;
  font-size: 0.875rem;
  margin-block-end: 6rem;
  text-align: center;
  text-decoration: none;
}

.pickerItem h2 {
  font-size: 2em;
  margin-block-end: var(--spacer-0-5);
}

.pickerItem p {
  line-height: 1.5;
  margin: 0 auto var(--spacer-2);
  max-inline-size: 35ch;
}

.tagline {
  color: var(--info);
  font-family: var(--font-family-sans);
  font-size: 0.875rem;
  margin-block-end: var(--spacer);
}

.button {
  color: var(--default);
  padding: var(--spacer-0-5) spacer;
  text-decoration: none;
}

@media (width >= 58rem) {
  .picker {
    display: flex;
    gap: var(--spacer-4);
  }
}
