@import '../../theme/variables';

.header {
  margin: 0;
  padding: 1rem 0;
  background-color: $primary;
  background-position: bottom;
  background-size: auto 4em;
  background-repeat: repeat-x;
  text-align: center;
  overflow: auto;

  a {
    color: $white;
  }
}

.heading {
  font-family: $font-family-heading;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: $default;
  text-align: center;
  font-style: normal;

  &Logo {
    color: $white;
    margin-bottom: 2em;

    svg {
      height: 5em;
      width: auto;
      fill: currentColor;
    }
  }

  &Subheading {
    color: $white;
  }
}

.subheader {
  padding: spacer(1.5) spacer(1);
  background: $black;
  color: $white;
  text-align: center;

  p {
    font-size: 1em;
    line-height: 1.5;
    margin: spacer(1) auto;
    max-width: 38rem;

    &:last-child {
      margin-top: 1em;
    }
  }
}
