@import url("../../theme/variables");

.inputgroup {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: spacer(2);

  &:first-of-type {
    margin-bottom: spacer(1);
  }

  @include respond-to(large) {
    justify-content: flex-start;
  }
}

.input {
  font-size: 2em;
  margin: 0 spacer(1);
}
