.inputgroup {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-block-end: var(--spacer-2);
}

.inputgroup:first-of-type {
  margin-block-end: var(--spacer);
}

@media (width >= 58rem) {
  .inputgroup {
    justify-content: flex-start;
  }
}

.input {
  font-size: 2em;
  margin: 0 var(--spacer);
}
