.footer {
  background-repeat: repeat-x;
  background-size: auto 4em;
  color: var(--white);
  display: flex;
  height: var(--footer-size);
  padding: var(--spacer);
  padding: 0;
}

.footerSection {
  align-self: flex-end;
  background-color: var(--black);
  flex: 0 100%;
  padding: var(--spacer-0-5) var(--spacer);
  text-align: center;
}

.footerSection a {
  color: var(--primary);
  text-decoration: none;
}
