@import '../../theme/variables';

.footer {
  height: $footer-size;  
  padding: spacer(1);
  display: flex;
  background: url('/images/hp-bottles.svg') repeat-x top;
  background-size: auto 4em;
  padding: 0;
  color: $white;

  &Section {
    flex: 0 100%;
    align-self: flex-end;
    background-color: $black;
    padding: spacer(.5) spacer(1);
    text-align: center;
    
    a {
      color: $primary;
      text-decoration: none;
    }
  }
}

