.segmentedButton {
  border-radius: var(--border-radius);
  color: var(--default);
  display: flex;
  font-family: var(--font-family-sans);
  font-weight: 400;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.segmentedButtonItem {
  block-size: inherit;
  border-block-end: var(--border-match-color);
  border-block-start: var(--border-match-color);
  border-inline-start: var(--border-match-color);
  flex: 1 1 auto;
  font-size: 0.875rem;
  overflow: hidden;
}

.segmentedButtonItem:last-child {
  border-end-end-radius: var(--border-radius);
  border-inline-end: var(--border-match-color);
  border-start-end-radius: var(--border-radius);
}

.segmentedButtonItem:first-child {
  border-end-start-radius: var(--border-radius);
  border-start-start-radius: var(--border-radius);
}

.segmentedButton label {
  align-items: center;
  block-size: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-inline-size: 4em;
  overflow: hidden;
  padding: 0.5em 0.75em;
  text-align: center;
}

.segmentedButton[disabled] + label {
  opacity: 0.5;
}

.segmentedButton input {
  inset-inline-start: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.segmentedButton input:focus + label {
  background-color: var(--default);
}

.segmentedButton input:checked + label {
  background-color: var(--default);
  border-color: var(--default);
  color: var(--white);
}
