@import '../../theme/variables';

.segmentedButton {
  display: flex;
  font-family: $font-family-sans;
  border-radius: $border-radius;
  font-weight: 400;
  position: relative;
  margin: 0 auto;
  padding: 0;
  color: $default;
  list-style: none;
  overflow: hidden;

  &Item {
    height: inherit;
    border-top: $border-match-color;
    border-bottom: $border-match-color;
    border-left: $border-match-color;
    font-size: 0.875rem;
    flex: 1 1 auto;
    overflow: hidden;

    &:last-child {
      border-right: $border-match-color;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }

  input[type='radio'] {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &:focus + label {
      background-color: $default;
    }

    &:checked + label {
      background-color: $default;
      color: $white;
      border-color: $default;
    }
  }

  input[disabled] {
    & + label {
      opacity: 0.5;
    }
  }

  label {
    display: flex;
    height: 100%;
    min-width: 4em;
    padding: 0.5em 0.75em;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
}
