@import '../../theme/variables';

.segmentedButton {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  color: $default;

  &Item {
    height: inherit;
    border-top: $border-match-color;
    border-bottom: $border-match-color;
    border-left: $border-match-color;
    flex: 1 1 auto;

    &:last-child {
      border-right: $border-match-color;
    }
  }

  input[type='radio'] {
    position: absolute;
    left: -99rem;
    opacity: 0;

    &:focus + label {
      background-color: $default;
    }

    &:checked + label {
      background-color: $default;
      border-color: $default;
      color: $white;
    }
  }

  input[disabled] {
    & + label {
      opacity: .5;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em .75em;
    min-width: 4em;
    text-align: center;
    cursor: pointer;
    height: 100%;

  }
}
