@import 'theme/variables';
@import 'theme/normalize';

body {
  font-family: $font-family-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
  height: 100%;
}

// Typopgraphy Reset
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: spacer(1);
  line-height: 1.2;
}

.hp-app {
  padding: 0 spacer(1) spacer(2);

  @include respond-to(large) {
    padding: 0 spacer(2) spacer(2);
  }

  &__row {
    @include respond-to(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  $large-padding: spacer(3) spacer(2);

  &__col {
    width: 100%;
    padding: spacer(2) spacer(2) spacer(3);
    text-align: center;

    &:last-of-type {
      padding: $large-padding;
      border-top: 0.0625rem solid lighten($info, 15%);

      @include respond-to(large) {
        padding: $large-padding;
      }
    }

    @include respond-to(large) {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      padding: $large-padding;

      &:first-child {
        border-right: 0.0625rem solid lighten($info, 25%);
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.hp-section {
  max-width: 100ch;
  margin: 0 auto;
}

.hp-heading {
  font-family: $font-family-sans;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: $default;
  text-align: center;
  font-style: normal;
}

.hp-clearlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
