@import url('theme/variables');
@import url('theme/normalize');

body {
  box-sizing: border-box;
  font-family: $font-family-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
  height: 100%;
}

// Typopgraphy Reset
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin-bottom: spacer(1);
  margin-top: 0;
}

.hp-app {
  padding: 0 spacer(1) spacer(2);

  @include respond-to(large) {
    padding: 0 spacer(2) spacer(2);
  }

  &__row {
    @include respond-to(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  $large-padding: spacer(3) spacer(2);

  &__col {
    padding: spacer(2) spacer(2) spacer(3);
    text-align: center;
    width: 100%;

    &:last-of-type {
      border-top: 0.0625rem solid lighten($info, 15%);
      padding: $large-padding;

      @include respond-to(large) {
        padding: $large-padding;
      }
    }

    @include respond-to(large) {
      display: flex;
      flex: 1 1 50%;
      flex-direction: column;
      padding: $large-padding;

      &:first-child {
        border-right: 0.0625rem solid lighten($info, 25%);
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.hp-section {
  margin: 0 auto;
  max-width: 100ch;
}

.hp-heading {
  color: $default;
  font-family: $font-family-sans;
  font-style: normal;
  letter-spacing: 0.075em;
  text-align: center;
  text-transform: uppercase;
}

.hp-clearlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
