@import "theme/variables";
@import "theme/normalize";

body {
  font-family: $font-family-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
  height: 100%;
}

// Typopgraphy Reset
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.75em;
  line-height: 1.2;
}

:global {
  .hp-app {
    padding: 0 spacer(1) spacer(2);

    @include respond-to(large) {
      padding: 0 spacer(2) spacer(2);
    }

    &__row {
      @include respond-to(large) {
        display: flex;
      }
    }

    &__col {
      width: 100%;
      text-align: center;
      padding: spacer(1);

      &:last-of-type {
        border-top: 1px solid lighten($info, 15%);
      }

      @include respond-to(large) {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;

        &:first-child {
          border-right: 1px solid lighten($info, 25%);
        }

        &:last-child {
          border: 0;
        }
      }
    }
  }

  .hp-heading {
    font-family: $font-family-heading;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: $default;
    text-align: center;
    font-style: normal;
  }
}
