@import url('../../theme/variables');

.measureHeader {
  padding: spacer(2) spacer(1);

  @include respond-to(large) {
    display: grid;
    grid-gap: spacer(2);
    grid-template-columns: 1fr 1fr;
  }

  &Item {
    margin-bottom: spacer(2);

    @include respond-to(large) {
      margin-bottom: 0;
    }
  }
}

.measureButtons {
  margin: auto;
  max-width: 20rem;
  width: 100%;
}
