.measureHeader {
  padding: var(--spacer-2) var(--spacer);
}

.measureHeaderItem {
  margin-block-end: var(--spacer-2);
}

.measureButtons {
  inline-size: 100%;
  margin: auto;
  max-inline-size: 20rem;
}

@media (width >= 58rem) {
  .measureHeader {
    display: grid;
    grid-gap: var(--spacer-2);
    grid-template-columns: 1fr 1fr;
  }

  .measureHeaderItem {
    margin-block-end: 0;
  }
}
