@import '../../theme/variables';

.measureHeader {
  padding: spacer(2) 0;

  @include respond-to(large) {
    display: flex;
    justify-content: space-around;
  }

  &Item {
    margin-bottom: spacer(2);

    @include respond-to(large) {
      margin-bottom: 0;
    }
  }
}

.measureButtons {
  width: 100%;
  max-width: 30rem;
  margin: auto;
}
