.measureHeader {
  padding: var(--spacer-2) var(--spacer);

  // @include respond-to(large) {
  //   display: grid;
  //   grid-gap: var(--spacer-2);
  //   grid-template-columns: 1fr 1fr;
  // }

  &Item {
    margin-bottom: var(--spacer-2);

    // @include respond-to(large) {
    //   margin-bottom: 0;
    // }
  }
}

.measureButtons {
  margin: auto;
  max-width: 20rem;
  width: 100%;
}
