.results {
  font-size: 1.25rem;
  margin-block-end: var(--spacer-2);
}

.resultsGroup,
.resultsDivider {
  margin-block-end: var(--spacer);
}

.resultsGroup {
  font-size: 1.25rem;
}

.results .inputgroup {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-block-end: var(--spacer-2);
}

.results .inputgroup:first-of-type {
  margin-block-end: var(--spacer);
}

@media (width >= 58rem) {
  .results .inputgroup {
    justify-content: flex-start;
  }
}

.results .input {
  font-size: 2em;
  margin: 0 var(--spacer);
}

.resultsNumber {
  font-weight: 700;
}

.resultsDivider {
  font-size: 0.75em;
  margin: var(--spacer-1-5) 0;
  text-transform: uppercase;
}

.resultsDivider::before,
.resultsDivider::after {
  content: ' - ';
}

.submitButton {
  display: block;
  font-size: 1.125em;
  inline-size: 100%;
  margin: var(--spacer-2) auto var(--spacer);
  max-inline-size: 15rem;
}

.unit {
  font-weight: 700;
}
