@import url("../../theme/variables");

.results {
  font-size: 1.25rem;
  margin-bottom: spacer(2);

  &Group,
  &Divider {
    margin-bottom: spacer(1);
  }

  &Text {
    margin: 0.5em 0;
  }

  &Group {
    font-size: 1.25rem;
  }

  .inputgroup {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: spacer(2);

    &:first-of-type {
      margin-bottom: spacer(1);
    }

    @include respond-to(large) {
      justify-content: flex-start;
    }
  }

  .input {
    font-size: 2em;
    margin: 0 spacer(1);
  }

  &Number {
    font-weight: 700;
  }

  &Divider {
    font-size: 0.75em;
    margin: spacer(1.5) 0;
    text-transform: uppercase;

    &::before,
    &::after {
      content: " - ";
    }
  }
}

.plural::after {
  content: "s";
}

.submitButton {
  display: block;
  font-size: 1.125em;
  margin: spacer(2) auto spacer(1);
  max-width: 15rem;
  width: 100%;
}

.unit {
  font-weight: 700;
}
