@import "../../theme/variables";

.results {
  font-size: 1.25rem;

  &Group,
  &Divider {
    margin-bottom: 1em;
  }

  &Text {
    margin: 0.5em 0;
  }

  &Group {
    font-size: 1.25rem;

    .unit {
      font-weight: 700;
    }
  }

  .inputgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: spacer(2);

    &:first-of-type {
      margin-bottom: spacer(1);
    }

    @include respond-to(large) {
      justify-content: flex-start;
    }
  }

  .input {
    margin: 0 spacer(1);
    font-size: 2em;
  }

  &Number {
    font-weight: 700;
  }

  &Divider {
    text-transform: uppercase;
    font-size: 0.75em;
    margin: spacer(1.5) 0;

    &:before,
    &:after {
      content: " - ";
    }
  }
}

.plural::after {
  content: "s";
}

.submitButton {
  display: block;
  width: 100%;
  max-width: 15rem;
  margin: spacer(2) auto spacer(1);
  font-size: 1.125em;
}
