

.results {
  font-size: 1.25rem;
  margin-bottom: var(--spacer-2);

  &Group,
  &Divider {
    margin-bottom: var(--spacer);
  }

  &Text {
    margin: 0.5em 0;
  }

  &Group {
    font-size: 1.25rem;
  }

  .inputgroup {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacer-2);

    &:first-of-type {
      margin-bottom: var(--spacer);
    }

    // @include respond-to(large) {
    //   justify-content: flex-start;
    // }
  }

  .input {
    font-size: 2em;
    margin: 0 var(--spacer);
  }

  &Number {
    font-weight: 700;
  }

  &Divider {
    font-size: 0.75em;
    margin: var(--spacer-1-5) 0;
    text-transform: uppercase;

    &::before,
    &::after {
      content: " - ";
    }
  }
}

.plural::after {
  content: "s";
}

.submitButton {
  display: block;
  font-size: 1.125em;
  margin: var(--spacer-2) auto var(--spacer);
  max-width: 15rem;
  width: 100%;
}

.unit {
  font-weight: 700;
}
